h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}

input {
  font-size: 26px;
  text-decoration: none;
}

#tabulka {
  border: solid;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

td {
  border: dotted;
  padding: 42px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
